## Test Notebook

In [3]:
# import libraries

import pandas as pd

In [5]:
# create a new dataframe

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [15]:
data = pd.DataFrame({"Product": ['nail', 'washer', 'screwdriver','hammer', 'tape'],
                     "Type": ["hardware", "hardware", "tool", "tool", "misc"],
                     "Price": [0.10,0.05,12.99,14.99,6.99]})
data

       Product      Type  Price
0         nail  hardware   0.10
1       washer  hardware   0.05
2  screwdriver      tool  12.99
3       hammer      tool  14.99
4         tape      misc   6.99

In [17]:
# seasonal sale! all items 20% off! 

# using a lambda function to create a new column indicating the sale price

data['Sale_Price'] = data['Price'].apply(lambda x: x*.80)

data

       Product      Type  Price  Sale_Price
0         nail  hardware   0.10       0.080
1       washer  hardware   0.05       0.040
2  screwdriver      tool  12.99      10.392
3       hammer      tool  14.99      11.992
4         tape      misc   6.99       5.592

In [23]:
# oh no! the store has no directory! create a flag based on item type to generate the product aisle!

# type: hardware = aisle 1
# type: tool = aisle 2
# type: misc = aisle 3

data['Aisle'] = data['Type'].apply(
    lambda x: 'aisle 1' if x == 'hardware' else
    ('aisle 2' if x == 'tool' else 'aisle 3'))

data

       Product      Type  Price  Sale_Price    Aisle
0         nail  hardware   0.10       0.080  aisle 1
1       washer  hardware   0.05       0.040  aisle 1
2  screwdriver      tool  12.99      10.392  aisle 2
3       hammer      tool  14.99      11.992  aisle 2
4         tape      misc   6.99       5.592  aisle 3